/* .red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.bold{
    font-weight: 600;
}

.a{
    width: 300px;
    height: 300px;
    background: #3786ed;
}

.b{
    width: 150px;
    height: 150px;
    background-color: olivedrab;
} */

body{
    background: rgb(131, 161, 71);
    color: #efb60c;
}

.bold{
    font-weight: bold;
}

#box{
    width: 140px;
    height: 140px;
    background: burlywood;
}